# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# AWS credentials
.aws/

# Local DynamoDB files (if using NoSQL Workbench)
.dynamodb/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
*.tmp
*.swp
*.swo

# Test coverage
coverage/

# Miscellaneous
*.bak
*.old